{% extends 'base.html' %}

{% block page_title %}Home{% endblock %}

{% block content %}


<section class="py-6">
    <div class="container mx-auto">
        <h1 class="text-3xl font-semibold mb-4">Welcome to Our Website</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fringilla lorem nec justo interdum, id auctor metus tincidunt.</p>
        <p>Proin sed justo id quam bibendum tristique. Fusce aliquam vel est vel scelerisque.</p>
    </div>
</section>


{% endblock %}
